.logo {
    width: 200px;
    height: 150px;
    display: flex;
    flex-direction: row;
    margin-bottom: 5rem;
    position: relative;
    left: 2.6rem;
  }
  .section__one {
    display: flex;
    flex-direction: row;
    width: 80%;
    align-items: center;
    padding: 2rem 0;
    justify-content: space-between;
  }
  .footer__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    background-color: var(--primary);
    align-items: center;
    border-style: none;
    padding: 1rem;
  }
  
  .footer__menu {
    list-style: none;
    color: var(--menu);
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: 18px;
    align-self: center;
    height: 15rem;
  }
  .footer__menu li {
    margin-top: 5rem;
    color:var(--menu)
  }
  .footer__menu li:hover{
  color:var(--secondary)

  }
  .footer__menu > a {
    color: var(--secondary);
  }
  .footer__menu  a::before{
  text-decoration: none;
  transition: none;
  background: none;
  display: none;
  position: none;
 }
  .footer__menu__title {
    font-size: 26px;

  }
  .footer__menu__title > h4:nth-child(1) {
  
    margin-left: -1rem;
  
  }
  .footer__qoute {
    display: flex;
    flex-direction: row;
    position: relative;
   
    font-size: 18px;
    padding: 1rem;
    align-items: center;
    border-top: 1px solid var(--menu);
    width: 70vw;
    justify-content: space-between;
    color:var(--menu)
  }
  .Footer__li {
    display: flex;
    cursor: pointer;
  }
  
  .footer__social {
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 0 1rem;
    align-self: flex-end;
    justify-content: space-between;
    width: 10rem;
  }
  .footer__contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 15rem;
    position: relative;
    right: 4.5rem;
    color:var(--menu)
  }
  
  .footer__icon {
    align-items: center;
    display: flex;
    margin: 0.5rem;
    padding: 0.5rem;
    justify-content: space-between;
  }
  .footer__about {
    display: flex;
    flex-direction: column;
    position: relative;
    white-space: pre;
    height: 15rem;
  
  }
  .footer__about__title {
    font-size: 26px;
    margin-left: -1rem;
  }
  .footer__contact__title {
    font-size: 26px;
    margin-left: -1rem;
  }
  .footer__about__info {
    font-size: 18px;
    padding-top: 1rem;
  }
  .footer__heart{
    position: relative;
    top: 0.25rem;
    margin: 0 1rem;
  }
  .footer__heart:hover{
    transform: scale(2);
    animation: heart 1s linear 1s infinite normal forwards;
  }
  .footer__social>svg:nth-child(1):hover{
    animation: face 3s cubic-bezier(0.22, 1, 0.36, 1) 0s 1 normal forwards;
    color:#3b5998!important
  }
  .footer__social>svg:nth-child(2):hover{
    animation: Insta 3s cubic-bezier(0.7, 0, 0.84, 0) 0s 1 normal forwards;
   color: #8a3ab9 !important
  }
  .footer__social> svg:nth-child(3):hover{
    animation: full-circle 1.1s ease-out;
    color:green!important;
  }
  .footer__social> svg:nth-child(4):hover{
    animation: rotate-vertical 1.1s ease-out;
    color: #00adb5!important;
  }
  @keyframes heart {
    0% {
      animation-timing-function: ease-out;
      transform: scale(1);
      transform-origin: center center;
    }
  
    10% {
      animation-timing-function: ease-in;
      transform: scale(0.91);
    }
  
    17% {
      animation-timing-function: ease-out;
      transform: scale(0.98);
    }
  
    33% {
      animation-timing-function: ease-in;
      transform: scale(0.87);
    }
  
    45% {
      animation-timing-function: ease-out;
      transform: scale(1);
    }
  }
  @keyframes face {
    0%,
    100% {
      transform: translateX(0%);
      transform-origin: 50% 50%;
    }
  
    15% {
      transform: translateX(-30px) rotate(-6deg);
    }
  
    30% {
      transform: translateX(15px) rotate(6deg);
    }
  
    45% {
      transform: translateX(-15px) rotate(-3.6deg);
    }
  
    60% {
      transform: translateX(9px) rotate(2.4deg);
    }
  
    75% {
      transform: translateX(-6px) rotate(-1.2deg);
    }
  }

  @keyframes Insta {
    0%,
    100% {
      transform: translateX(0);
    }
  
    10%,
    30%,
    50%,
    70% {
      transform: translateX(-10px);
    }
  
    20%,
    40%,
    60% {
      transform: translateX(10px);
    }
  
    80% {
      transform: translateX(8px);
    }
  
    90% {
      transform: translateX(-8px);
    }
  }

  @keyframes full-circle {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
  @keyframes rotate-vertical {
    0% {
      transform: rotateY(0deg);
    }
    100% {
      transform: rotateY(360deg);
    }
  }
  @media screen and (max-width: 1325px) {
      .footer__container{
          padding: 0;
      }
  .section__one{
      width: 70%;
  }
  .footer__qoute{
      font-size: 15px;
      width: 80vw;
  }
  }
  
  
  @media screen and (max-width: 1175px) {
      .footer__container{
          padding: 0;
          font-size: 15px;
      }
      /* .logo{
          width: 125px;
  height: 125px;
      } */
  }
  
  
  
  @media screen and (max-width:1080px ) {
  
      .section__one {
          width: 99%;
        }
        .footer__qoute{
          width: 99vw;
        }
  }
  @media screen and (max-width:850px ) {
  
      .section__one {
          width: 99%;
        }
        .footer__qoute{
          width: 99vw;
          font-size: 13px;
        }
        .footer__container{
        font-size: 13px;
      }
      .footer__menu{
          font-size: 13px;
      }
  }
  
  @media screen and (max-width:780px ) {
  .logo{
    left: 0;
  }
    .section__one{
      flex-direction: column;
  }
  .footer__menu{
      flex-direction: row;
      height: 2rem;
  width: 90vw;
  }
  .footer__menu__title{
      font-size: 18px;
      display: none;
  }
  .footer__contact{
      flex-direction: row;
  height: 5rem;
  align-items: center;
    right: 0;
  }
  .footer__contact__title{
      /* font-size: 16px; */
      display: none;
  }
  .footer__qoute{
      flex-direction: column;
  }
  .footer__social{
      margin: 0.3rem 1rem;
  align-self: center;
  }
  .logo{
      margin-top: 0.5rem;
      margin-bottom: 4rem;
  }
  }
  @media screen and (max-width:550px ) {
      .footer__container{
          font-size: 10px;
      }
      .logo{
          margin-top: 0.5rem;
          width: 100px;
  height: 100px;
  margin-bottom: 2rem;
  
      }
      .footer__menu{
          font-size: 10px;
      }
      .footer__qoute{
          font-size: 10px;
      }
  }
  
  @media screen and (max-width:480px ) {
  .logo{
      width: 70px;
  height: 70px;
  margin-bottom: 1rem;
  }
  .footer__menu{
      height: 3rem;
  }
  .footer__contact{
      height: 4rem;
      font-size: 8px;
  }
  .footer__qoute{
      font-size: 8px;
  }
  .footer__icon{
      display: flex;
  flex-direction: column;
  height: 4rem;
  align-content: center;
  align-items: center;
  align-self: center;
  margin: 0;
  }
  }