.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid var(--background);
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul li {
  margin-left: 20px;
}

.header ul li a {
  display: flex;
  align-items: center;
}

.header ul li a svg {
  margin-right: 5px;
}

.Header_menu__items > a,
li:focus {
  font-weight: bolder;
}
.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 50px;
  padding: 0 20px;
}

.heading p {
  color: #828282;
}
/* navBar */

.navbar input[type="checkbox"],
.navbar .hamburger__lines {
  display: none;
}

.nav__container {
  margin: auto;
}

.navbar {
  position: relative;
  width: 100%;
  background: var(--primary);
  color: var(--menu);
  height: 3.7em;
  max-height: 3.7em;
  opacity: 1;
  animation: LandingContainer 2s cubic-bezier(0.33, 1, 0.68, 1) 0s 1 alternate both;
  z-index: 9999;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.7em;
  max-height: 3.7em;
  opacity: 1;
  line-height: 18px;
  height: 3.7em;
  margin: 0;
  padding: 0;
  float: left;
}

.menu__items {
  order: 2;
  display: flex;
}
.logo {
  opacity: 0.9;
  order: 1;
  height: 3.7em;
  width: 5em;
  float: left;
  z-index: 9999;
position: relative;
}
.logo:hover {
  transition: opacity 0.2s ease-out;
}

.logo > a::before {
  text-decoration: none;
  background: none;
  background-image: none;
}

.menu__items li,
button {
  list-style: none;
  font-size: .75em;
  display: flex;
  align-items: center;
}
/*  Menu items styling  */
.menu__items li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--menu);
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  padding: 0 1rem;
  text-decoration: none;
  font-weight: 400;
  transition: all 0.5s ease-in-out;
  text-transform: uppercase;
  transform: translateZ(0);
  height: 100%;
  padding-right: 0 !important;
}
.menu__items li::before {
  content: attr(data-item);
  transition: 0.5s;
  color: #dda2d2;
  position: absolute;
  display: block;
  height: 5px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0;
  overflow: hidden;
  transition: height 0.2s ease-in-out;
  width: 100%;
  z-index: -1;

}
.Header__right__image{
  display: flex;
  flex-direction: row;
}
.menu__items li:hover::before {
  width: 100%;
  transition: all 0.5s ease-in-out;
}
.menu__items li :active {
  color: var(--primary);
}

.menu__items li a:focus {
  font-weight: bold;
}

.navbar a {
  text-decoration: none;
  font-weight: 500;
  /* transition: color 0.3s ease-in-out; */
  align-self: center;
}
.navbar__right{
  height: 3.7em;
list-style: none;
padding: 0 0 0 1em;
position: absolute;
right: 0;
top: 0;
width: auto;
z-index: 6;
align-content: center;
align-items: center;
display: flex;
margin-right: 1rem;
}
@media (max-width: 1000px) {
  .Header_navbar{
    z-index: 9999;
  }
  .navbar__right{
    margin:0;
  }
  /* .navbar__container input[type="checkbox"],
  .navbar__container .hamburger__lines {
    display: block;
  } */
  body {
    overflow-x: hidden;
  }
  /* .navbar__container {
    display: block;
    position: relative;
    height: 64px;
  } */
  /* .navbar {
    padding: 1rem 0;
  } */
  .navbar a {
    align-self: flex-start;
    margin-bottom: 0 !important;
  }
  /* .navbar__container input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 80px;
    right: 2rem;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }

  .navbar__container .hamburger__lines {
    display: block;
    height: 28px;
    width: 35px;
    position: absolute;
    top: 80px;
    right: 2rem;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .navbar__container .hamburger__lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: var(--secondary) !important;
  }

  .navbar__container .hamburger__lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.3s ease-in-out;
  }

  .navbar__container .hamburger__lines .line2 {
    transition: transform 0.1s ease-in-out;
  }

  .navbar__container .hamburger__lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.3s ease-in-out;
  } */

  /* .navbar .menu__items {
    background: var(--primary);
    height: 100vh;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    z-index: 2;
    position: absolute;
    padding-top: 125px;
    right: -50px;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    padding-left: 50px;
padding-top: 120px;
transform: translate(-150%);
margin-left: -128px;
transition: transform 0.5s ease-in-out;
text-align: center;
  }

  .navbar .menu__items li {
    margin-bottom: 1.5rem;
    font-size: 1rem;
    font-weight: 500;
  }

  
  .navbar__container input[type="checkbox"]:checked ~ .menu__items {
    transform: translateX(0);
  }

  .navbar__container input[type="checkbox"]:checked ~ .hamburger__lines .line1 {
    transform: rotate(45deg);
  }

  .navbar__container input[type="checkbox"]:checked ~ .hamburger__lines .line2 {
    transform: scaleY(0);
  }

  .navbar__container input[type="checkbox"]:checked ~ .hamburger__lines .line3 {
    transform: rotate(-45deg);
  } */
 
}
@keyframes LandingContainer {
	0% {
		transform: scaleX(0);
	}

	100% {
		transform: scaleX(1);
	}
}
@media (max-width: 500px) {
  /* .navbar__container input[type="checkbox"]:checked ~ .logo {
    display: flex;
  } */
  .logo{
    left: 3rem;
    position: relative;
    top: 0.2rem;
  }
  /* .navbar__container .hamburger__lines{
    top:25px;
  }
  .navbar__container input[type="checkbox"]{
    top:25px;
  } */
.logo > a:nth-child(1){
    background: none!important;
    display: flex!important;
    padding: 0!important;
    position: relative;
  }
  img.logo{
    top: 0;
    left: 0;
  }
 
 
}
