.catItems__container {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    margin: 1rem 0;
    width: 100%;
    height: 50vh;
}


.item__title {
    display: flex;
    flex-direction: column;
}

.item__h2 {
    top: 0.5rem;
    bottom: 0.5rem;
    padding: 1rem 0;
    margin: 0.5rem 0;
}

.item__h4 {
    top: 0.1rem;
    bottom: 0.2rem;
    padding: 0.4rem 0;
    margin: 0.2rem 0;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 320px;
}
.items__price{
    padding: 1rem 0;
    margin:0.5rem 0;
}
.items__ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.items__li {
    display: flex;
    flex-direction: column;
}