.menu__li{
    display:flex;
    align-items: center;
    justify-content: space-around;
}
.menu__h2{
    display: flex;
    align-items: center;
}
.menu__img{
    display: flex;
    padding: 0.5rem;
    margin: 0.5rem;
}
.menu__li:hover{
    background-color: var(--primary);
    cursor: pointer;
}