.title {
  display: flex;
  flex-direction: row;
  padding: 0 2rem;
  margin: 0 2rem;
  bottom: 1.3rem;
  position: relative;
  justify-content: space-between;
width: 40rem;
}
.catTitle {
  padding: 1rem;
  margin: 1rem;
}
.admin__table {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem;
}
.cat__group {
  display: flex;
}

.table__header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0.5rem;
  padding: 0.5rem;
}

.table {
  position: relative;
  width: 60%;
  border-spacing: 0;
  text-align: left;
  left: 20%;
  border: 1px solid thistle;
  border-radius: 0.2rem;
  margin-top: 3%;
  box-sizing: border-box;
}

thead {
  display: table-header-group;
}

.table th {
  font-weight: bolder;
  font-size: 1.2rem;
  line-height: 26px;
  padding: 18px 10px;
  text-align: left;
  border-bottom: 1px solid;
  border-color: thistle;
}

.table tr {
  background-color: white;
  display: flex;
  justify-content: space-between;
}

tr > td:nth-child(1) {
  min-width: 250px;
}
.table__td {
  /* width:600px; */
  /* max-width: 00px; */
  min-width: 1vw;
}
.table td {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 30px 30px 31px;
  font-weight: 300;
  font-size: 16px;
  color: black;
  line-height: 26px;
  border-bottom: 1px solid;
  border-color: thistle;
  padding: 1rem;
  margin: 1rem;
  text-align: left;
  justify-content: space-evenly;
}

.table__wrapper {
  padding-top: 40px;
}
@media (max-width: 768px) {
  .table td {
    display: block;
    text-align: right;
    font-size: 16px;
  }

  .table td:before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
  }

  .table tr {
    margin-bottom: 30px;
    display: block;
  }

  .table thead {
    display: none;
  }
}
