/* Landing Page */
.Landing__Page__MenuContainer {
    display: flex;
    flex-direction: column;
}

.Landing__Page__h1 {
    display: flex;
    align-self: center;
    padding: 1rem;
    margin: 1rem;
}
.catName {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    margin: 1rem 0;
    bottom: 1rem;
}

.Landing__Page__h2 {
    display: flex;
    flex-direction: column;
}

.Landing__Page__ul {
    display: flex;
    min-height: 80vh;
    flex-direction: column;

}

.Landing__Page__ItemsContainer {
    display: flex;
    min-height: 80vh;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem;
    width: 100%;
}