.Login__container {
  display: flex;
  flex-direction: row;
  margin-top: 8rem;
}

.Login__sectionOne {
  perspective: 250px;
  /* background-color: var(--secondary); */
  flex-basis: 50%;
  overflow: hidden;

}

.Login__sectionTwo {
  overflow: hidden;

}

.image1 {
  /* reverse backwards */
  animation: Joystick 2s cubic-bezier(0.87, 0, 0.13, 1) 0s 1 ;
  margin-top: 1%;
  width:100%;
}



.image2 {
  animation: Joystick2 2s cubic-bezier(0.83, 0, 0.17, 1) 0s 1 normal forwards;
  align-content: center;
  justify-content: center;
  position: relative;
  display: flex;
  width: 100%;
  border: 1px dashed var(--menu);
}

.form__container {
  animation: LoginForm 2s cubic-bezier(0.85, 0, 0.15, 1) 0s 1 normal forwards;
  background-color: var(--primary);
  opacity: 0.5;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  border: 1px dashed var(--menu);
  flex-basis: 50%;

}

.Login__border {
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 100px;
  /* margin-top: 100px; */
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  color: var(--text);
  margin: 1.5rem;
}

.heading p {
  color: var(--secondary);
}



/* Form css */

.form,
.content {
  width: 50%;
  margin: 5% auto;
}

.login__btn {
  font-size: 1.2rem;
  padding: 0.2rem 0.9rem;
  /* background-color: var(--secondary); */
  /* border: 1px solid #f3f4fd; */
  border-radius: 5px;
  color: white;
  font-weight: bold;
  margin: auto;
  justify-content: center;
  width: 8rem;
  overflow: hidden;
  position: relative;
  display: block;
  transition: 1s all ease;
}

.login__btn:hover {
  cursor: pointer;
  text-decoration: none;
}

.login__h1 {
  padding: 0;
}

.login__form {
  width: 50%;
  margin: 5% auto;
  /* padding: 0.5rem; */
}

.form__group {
  margin-bottom: 30px;
  justify-content: center;
  display: flex;
  text-transform: none!important;
}

.form__group input,
.form__group textarea,
.form__group select {
  width: 100%;
  padding: 10px;
  /* border: 1px solid #e6e6e6; */
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
  text-transform: none!important;
}

.form__group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

.form__group input:focus {
  /* border: 1px solid red; */
  outline: none;
  transition: width .35s ease-in-out;
  outline: var(--secondary) solid 1px;
  text-transform: none!important;

}









@keyframes LoginForm {
  0% {
    opacity: 0;
    transform: translateX(250px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes Joystick {
  0% {
    opacity: 0;
    transform: translateY(250px) rotate(200deg);
  }

  100% {
    opacity: 1;
    transform: translateY(0) rotate(0deg);
  }
}

@keyframes Joystick2 {
  0% {
    opacity: 0;
    transform: translateY(250px) rotate(200deg);
  }

  100% {
    opacity: 1;
    transform: translateY(0) rotate(0deg);
  }
}


@media screen and (max-width:900px) {
  .form__group input{
    font-size: 12px;
  }
  .image1{  padding: 1rem;
    margin-top: 3rem;
  }
}


@media screen and (max-width: 700px) {
  .login__form {
    width: 90%;
  }
  .image1{  padding: 1rem;
    margin-top: 3rem;
  }
}

@media screen and (max-width: 600px) {
  .image1{  padding: 2%;
    margin-top: 40%;
  }
}
@media screen and (max-width:450px) {
  .image1{
    padding: 0;
    margin: 0;
  }
  .Login__container{
    flex-direction: column;
  }

  button{
    min-width: 80px!important;
  }
}
