.Register__container {
  display: flex;
  flex-direction: row;
  margin-top: 8rem;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  color: var(--text);
  margin: 1.5rem;
}

.heading p {
  color: var(--secondary);
}


.login__form {
  width: 70%;
  margin: 5% auto;
  /* padding: 0.5rem; */
}

.form__group {
  margin-bottom: 10px;
  justify-content: center;
  display: flex;
}

.form__group input,
.form__group textarea,
.form__group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}


.form__group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}


.form__group input:focus {
  /* border: 1px solid red; */
  outline: none;
  transition: width .35s ease-in-out;
  outline: var(--secondary) solid 3px;

}
.logo{
  width: 100%;
  animation: SectionOne 4s ease 3s 1 alternate-reverse forwards;
}
.image {
  width: 150px;
  
}
.image:hover{
  animation: Register 4s cubic-bezier(0.61, 1, 0.88, 1) 0s 1 alternate both;
}
.Section__two {
  flex-basis: 50%;
  /* border: 1px dashed var(--menu); */
  animation: SectionTwoAnime 1s cubic-bezier(0.37, 0, 0.63, 1) 0s 1 normal both;
  overflow: hidden;
}

.Section__one {
  flex-basis: 50%;
  background-color: var(--secondary);
  justify-content: center;
  position: relative;
  display: flex;
  animation: SectionOneAnime 1s cubic-bezier(0.64, 0, 0.78, 0) 0s 1 alternate forwards;
  overflow: hidden;

}
.small__input {
  -moz-appearance: textfield;
}
.small__input::-webkit-inner-spin-button {
  display: none;
}
.small__input::-webkit-outer-spin-button,
.small__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



@keyframes Register {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}


@keyframes SectionOne {
	0% {
		animation-timing-function: ease-out;
		transform: scale(1);
		transform-origin: center center;
	}

	10% {
		animation-timing-function: ease-in;
		transform: scale(0.91);
	}

	17% {
		animation-timing-function: ease-out;
		transform: scale(0.98);
	}

	33% {
		animation-timing-function: ease-in;
		transform: scale(0.87);
	}

	45% {
		animation-timing-function: ease-out;
		transform: scale(1);
	}
}

@keyframes SectionOneAnime {
	0% {
		opacity: 0;
		transform: translateX(-250px) rotate(-200deg);
	}

	100% {
		opacity: 1;
		transform: translateX(0) rotate(0deg);
	}
}

@keyframes SectionTwoAnime {
	0% {
		opacity: 0;
		transform: rotate(-540deg) scale(0);
		transform-origin: 100% 50%;
	}

	100% {
		opacity: 1;
		transform: rotate(0) scale(1);
		transform-origin: 100% 50%;
	}
}


@media screen and (max-width: 1000px) {
  .login__form {
    width: 90%;
  }
}

@media screen and (max-width: 700px) {
	.Register__container{
		margin-top: 5rem;
		flex-direction: column;
	}


  }



@media screen and (max-width: 700px) {

}