:root {
  --textFamily: "Merriweather", serif;
  /* --primary: #130710; */
  --primary:#cc151a;
  --secondary: #0f0f0f;
  --menu: #dda2d2;
  --text: #eac7e4;
  --hover: linear-gradient(to right, #b543a0, #b543a0 50%, var(--text) 10%);
  --cover: #f8ecf6;
  --newFont: #f1daed;
  --fill:#dc9fcd;
  --stroke:#bc499f;
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--textFamily);
  height: 100%;
  overflow-y: scroll;
  overflow-x: none;
}
html {
  scroll-behavior: smooth;
}



.main {
  min-height: 100vh;
  flex-direction: column;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: 1600px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;

}

ul,
li {
  list-style: none;
}
/* button css */
button {
  /* margin: 20px 0 ; */
  line-height: 50px;
  min-width: 150px;
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: var(--primary);
  border-radius: 5px;
  color: #fff;
  border: 0;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: var(--secondary);
}

.button-bar {
  text-align: right;
  background-color: var(--primary);
  padding: 0 5px;
}

.button-bar button {

  margin: 0 5px;
display: inline-flex;
position: relative;
z-index: 1001;
justify-content: center;
}
/* Spinner css */

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width:150px;
  height: 150px;
  border: 15px solid;
  border-color: red transparent black transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
  position: relative;
  /* top: 50%; */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


.MuiSvgIcon-root {
  color: white;
}

.MuiInputBase-root:hover {
  border-color: white !important;
}
.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
  color: var(--primary) !important;
}
.css-154xyx0-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused
  .MuiOutlinedInput-notchedOutline {
  border-color: var(--secondary) !important;
}
.css-154xyx0-MuiInputBase-root-MuiOutlinedInput-root
  .MuiOutlinedInput-notchedOutline {
  border-color: var(--primary) !important;
}
.css-154xyx0-MuiInputBase-root-MuiOutlinedInput-root:hover
  .MuiOutlinedInput-notchedOutline {
  border-color: var(--primary) !important;
}
.MuiOutlinedInput-notchedOutline {
  border-color: var(--primary);
}
.css-9e5uuu-MuiPaper-root-MuiAutocomplete-paper {
  background-color: var(--menu) !important;
  color: var(--primary) !important;
}
.css-9e5uuu-MuiPaper-root-MuiAutocomplete-paper:hover > ul:hover > li:hover {
  background-color: var(--secondary) !important;
}

.rce-citem {
  background: transparent !important;
  border-bottom: 1px solid var(--primary);
}
.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root{
color:var(--primary)!important;
}
.rce-mbox {
  background: var(--cover) !important;
}
.rce-container-input {
  background: var(--primary) !important;
}
.rce-input {
  color: var(--primary) !important;
}
.rce-input::placeholder {
  color: var(--primary) !important;
  opacity: 0.8 !important;
}
.rce-button:hover {
  color: var(--primary) !important;
  border-color: var(--fill) !important;
  background-color: #f8ecf5 !important;
  opacity: 0.8 !important;
}
.rce-citem-body--top-time {
  color: var(--text) !important;
}
.rce-citem-body--bottom-title {
  color: rgba(255, 255, 255, 0.9) !important;
}

.Toastify__close-button {
  min-width: unset !important;
  margin: unset !important;
}

.css-tlc64q-MuiPaper-root-MuiDialog-paper {
  color: white !important;
  background: rgba(0, 0, 0, 0.9) !important;
  border: 1px solid var(--secondary) !important;
}

.css-1a1fmpi-MuiInputBase-root-MuiInput-root {
  color: var(--primary) !important;
}

.css-1a1fmpi-MuiInputBase-root-MuiInput-root.Mui-focused {
  color: white !important;
}

.css-1c2i806-MuiFormLabel-root-MuiInputLabel-root {
  color: var(--primary) !important;
}
.css-aqpgxn-MuiFormLabel-root-MuiInputLabel-root {
  color:red !important;
}
.css-1a1fmpi-MuiInputBase-root-MuiInput-root::before {
  border-bottom: 1px solid white !important;
}

.css-1a1fmpi-MuiInputBase-root-MuiInput-root::after {
  border-bottom: 2px solid var(--primary) !important;
}
.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
  color: var(--primary) !important;
}
.css-1e6y48t-MuiButtonBase-root-MuiButton-root:hover {
  opacity: 0.7;
  background-color: unset !important;
}
.css-1glvl0p-MuiButtonBase-root-MuiIconButton-root-MuiAutocomplete-clearIndicator{
  min-width: unset!important;
}
.css-1q79v3g-MuiButtonBase-root-MuiChip-root{
  color:var(--primary)!important;
}
.css-oscivv-MuiInputBase-root-MuiInput-root-MuiSelect-root::before {
  border-bottom: 1px solid white !important;
}
.css-pqjvzy-MuiSvgIcon-root-MuiSelect-icon {
  color: white !important;
}

.css-oscivv-MuiInputBase-root-MuiInput-root-MuiSelect-root::after {
  border-bottom: 2px solid var(--primary) !important;
}
.css-hfutr2-MuiSvgIcon-root-MuiSelect-icon {
  color: white !important;
}
.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  color: white !important;
}
.css-9npbnl-MuiFormLabel-root-MuiInputLabel-root {
  color: white !important;
}
.css-1ualgfl-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root:hover
  .MuiOutlinedInput-notchedOutline {
  border-color: white !important;
}
.css-1ualgfl-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root.Mui-focused
  .MuiOutlinedInput-notchedOutline {
  border-color: var(--secondary) !important;
}