:root {
  --textFamily: "Merriweather", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--textFamily);
  height: 100%;
  overflow-y: scroll;
  overflow-x: none;
}
